<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>申请</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no, address=no">
    <link rel="icon" href="https://store.shuidichou.com/imgs/common/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <script th:src="@{../static/js/zepto.min.js}"></script>
    <script type="text/javascript" th:src="@{../static/js/jweixin-1.0.0.js}"></script>
    <script th:src="@{../static/js/weui.min.js}"></script>
    <link rel="stylesheet" th:href="@{../static/css/weui.css}">



</head>
<body>
<div class="page preview js_show">
    <div class="page__hd">
<!--        <h1 class="page__title">我的申请</h1>-->
        <p class="page__desc">我的申请</p>
    </div>
    <div class="page__bd">

        <div th:each="raise : ${raises}" class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <label class="weui-form-preview__label">筹款金额</label>
                <em class="weui-form-preview__value" th:text="'¥' + ${raise.getFundsTarget()}"></em>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">标题</label>
                    <span class="weui-form-preview__value" th:text="${raise.getTitle()}"></span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">描述</label>
                    <span class="weui-form-preview__value" th:text="${raise.getContent()}"></span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">申请时间</label>
                    <span class="weui-form-preview__value" th:text="${#dates.format(raise.getCreateDate(),'yyyy-MM-dd HH:mm')}"></span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">审批状态</label>
                    <span class="weui-form-preview__value" th:if="${raise.getStatus()} eq 0" th:text="待审批"></span>
                    <span class="weui-form-preview__value" th:if="${raise.getStatus()} eq 1" th:text="审批通过"></span>
                </div>
                <a th:if="${raise.getStatus()} eq 0" th:id="href_+${raise.getId()}" class="weui-btn weui-btn_disabled weui-btn_default" th:href="@{'javascript:jumnDescDetail('+${raise.getId()}+')'}">详情页</a>
                <a th:if="${raise.getStatus()} eq 1" th:id="href_+${raise.getId()}" class="weui-btn weui-btn_default" th:href="@{'javascript:jumnDescDetail('+${raise.getId()}+')'}">详情页</a>
            </div>
        </div>
    </div>

    <div class="page__ft">
       <!-- <a href="javascript:home()"><img src="images/icon_footer_link.png"></a>-->
    </div>
</div>
<!--<script  th:inline="javascript">
    var appid = [[${APPID}]];
    var timestamp = [[${timestamp}]];
    var nonceStr = [[${nonceStr}]];
    var signature = [[${signature}]];

    wx.config({
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: appid, // 必填，公众号的唯一标识
        timestamp: timestamp, // 必填，生成签名的时间戳
        nonceStr: nonceStr, // 必填，生成签名的随机串
        signature: signature,// 必填，签名
        jsApiList: [] // 必填，需要使用的JS接口列表
    });


</script>-->
<script>

    function jumnDescDetail(raiseId){
        var tmp = '#href_'+raiseId;
        if($(tmp)[0].getAttribute('class').indexOf('weui-btn_disabled') != -1){
            return ;
        }

        var jumpUrl = "[[${redirectServer}]]";
        jumpUrl+="/raiseFundsDesc/inventory?raiseId="+raiseId;
        // jumpUrl = "https://open.weixin.qq.com/connect/oauth2/authorize?appid="+"[[${appid}]]"+
        //     "&redirect_uri=" + encodeURIComponent(jumpUrl) + "&response_type=code&scope=snsapi_userinfo&#wechat_redirect";
        window.location.href=jumpUrl;
    }
</script>
</body>
</html>