<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh" style="font-size: 37.5px;">
<head>
    <meta charset="UTF-8">
    <title>申请</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no, address=no">
    <link rel="icon" href="https://store.shuidichou.com/imgs/common/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <script th:src="@{../static/js/zepto.min.js}"></script>
    <script type="text/javascript" th:src="@{../static/js/jweixin-1.0.0.js}"></script>
    <script type="text/javascript" th:src="@{../static/js/jquery.serializejson.min.js}"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <script th:src="@{../static/js/weui.min.js}"></script>
    <link rel="stylesheet" th:href="@{../static/css/weui.css}">


</head>
<body>

<div class="weui-form__control-area">
    <form id="applyForm">
    <div class="weui-cells__group weui-cells__group_form">
        <div class="weui-cells__title">患者详细身份信息与诊断证明</div>
        <div class="container" id="container"><div class="page form_select_primary js_show">
                <div class="weui-form__control-area">
                    <div class="weui-cells__group weui-cells__group_form">
                        <div class="weui-cells">
                            <div class="weui-cell weui-cell_active weui-cell_access weui-cell_select weui-cell_select-after">
                                <div class="weui-cell__hd"><label class="weui-label">房产信息</label></div>
                                <div class="weui-cell__bd" id="house_element">无房产</div>
                                <input type="hidden" name="house" id="house" value="0"/>
                            </div>
                            <div class="weui-cell weui-cell_active weui-cell_access weui-cell_select weui-cell_select-after">
                                <div class="weui-cell__hd"><label class="weui-label">其他平台筹款</label></div>
                                <div class="weui-cell__bd" id="otherPlatform_element">无</div>
                                <input type="hidden" name="otherPlatform" id="otherPlatform" value="0"/>
                            </div>
                            <div class="weui-cell weui-cell_active weui-cell_access weui-cell_select weui-cell_select-after">
                                <div class="weui-cell__hd"><label class="weui-label">人身意外险</label></div>
                                <div class="weui-cell__bd" id="accident_element">无</div>
                                <input type="hidden" name="accident" id="accident" value="0"/>
                            </div>
                            <div class="weui-cell weui-cell_active weui-cell_access weui-cell_select weui-cell_select-after">
                                <div class="weui-cell__hd"><label class="weui-label">财产险</label></div>
                                <div class="weui-cell__bd" id="property_element">无</div>
                                <input type="hidden" name="property" id="property" value="0"/>
                            </div>
                            <div class="weui-cell weui-cell_active weui-cell_access weui-cell_select weui-cell_select-after">
                                <div class="weui-cell__hd"><label class="weui-label">医保</label></div>
                                <div class="weui-cell__bd" id="insurance_element">无</div>
                                <input type="hidden" name="insurance" id="insurance" value="0"/>
                            </div>
                            <div class="weui-cells weui-cells_form">
                                <div class="weui-cell weui-cell_active">
                                    <div class="weui-cell__hd"><label class="weui-label">患者家庭年收入</label></div>
                                    <div class="weui-cell__bd">
                                        <input id="salary" name="salary" class="weui-input" placeholder="请输入患者的家庭年收入">
                                    </div>
                                </div>
                            </div>
                            <div class="weui-cells weui-cells_form">
                                <div class="weui-cell weui-cell_active">
                                    <div class="weui-cell__hd"><label class="weui-label">患者家庭负债情况</label></div>
                                    <div class="weui-cell__bd">
                                        <input id="debts" name="debts" class="weui-input" placeholder="请输入患者家庭负债额">
                                    </div>
                                </div>
                            </div>
                            <div class="weui-media-box weui-media-box_text">
                                <p class="weui-media-box__desc">发起人承诺：</p>
                                <p class="weui-media-box__desc">发起人已承诺所提交的文字与图片资料完全真实，无任何虚构事实及隐瞒真相的情况，如有不实，发起人愿承担全部法律责任。</p>

                                <p class="weui-media-box__desc">平台声明：</p>
                                <p class="weui-media-box__desc">该求助信息不属于慈善公开募捐，真实性由信息发布者个人负责，阳光筹提示您了解详情后再进行帮助。</p>
                                <!--<ul class="weui-media-box__info">
                                    <li class="weui-media-box__info__meta">了解更多审核信息</li>
                                    <li class="weui-media-box__info__meta">时间</li>
                                    <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">其它信息</li>
                                </ul>-->
                            </div>
                        </div>
                    </div>
                </div>
        </div>
            <script type="text/javascript" class="form_select_primary js_show">
                $('#house_element').on('click', function () {
                    weui.picker([{
                        label: '有房产',
                        value: 1
                    }, {
                        label: '无房产',
                        value: 0
                    }], {
                        onConfirm: function (result) {
                            $('#house_element').text(result[0].label);
                            $("#house").val(result[0].value);
                        },
                        title: '是否有房产'
                    });
                });
                $('#otherPlatform_element').on('click', function () {
                    weui.picker([{
                        label: '有',
                        value: 1
                    }, {
                        label: '无',
                        value: 0
                    }], {
                        onConfirm: function (result) {
                            $('#otherPlatform_element').text(result[0].label);
                            $("#otherPlatform").val(result[0].value);
                        },
                        title: '其他平台是否有募捐'
                    });
                });
                $('#accident_element').on('click', function () {
                    weui.picker([{
                        label: '有',
                        value: 1
                    }, {
                        label: '无',
                        value: 0
                    }], {
                        onConfirm: function (result) {
                            $('#accident_element').text(result[0].label);
                            $("#accident").val(result[0].value);
                        },
                        title: '是否有人身意外险'
                    });
                });
                $('#property_element').on('click', function () {
                    weui.picker([{
                        label: '有',
                        value: 1
                    }, {
                        label: '无',
                        value: 0
                    }], {
                        onConfirm: function (result) {
                            $('#property_element').text(result[0].label);
                            $("#property").val(result[0].value);
                        },
                        title: '是否有财产险'
                    });
                });
                $('#insurance_element').on('click', function () {
                    weui.picker([{
                        label: '有',
                        value: 1
                    }, {
                        label: '无',
                        value: 0
                    }], {
                        onConfirm: function (result) {
                            $('#insurance_element').text(result[0].label);
                            $("#insurance").val(result[0].value);
                        },
                        title: '是否有医保'
                    });
                });
                </script>

        </div>
    </div>
        <input type="hidden" name="raiseId" th:value="${raiseId}">
    </form>
</div>
<div class="page__bd">
    <div class="weui-form__opr-area">
        <a class="weui-btn weui-btn_primary" href="javascript:void(0)" onclick="step2_submit();" id="showTooltips">下一步</a>
    </div>
</div>
<div class="js_dialog" id="warnDialog" style="opacity: 1;display: none">
    <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd"></div>
            <div class="weui-dialog__ft">
                <a href="javascript:$('#warnDialog').css('display', 'none')" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
            </div>
    </div>
</div>
<script  th:inline="javascript">


</script>
<script>
    function step2_submit(){

        var debts = $('#debts').val();
        var salary = $('#salary').val();

        if(salary == ''){
            $('#warnDialog').css('display','')
            $('.weui-dialog__bd').html('请填写患者家庭年收入');
            return;
        }
        if(debts == ''){
            $('#warnDialog').css('display','')
            $('.weui-dialog__bd').html('请填写患者负债情况');
            return;
        }
        var json_data = $("#applyForm").serializeJSON();
        $.ajax({
            type: "POST",
            url: "[[@{../raise/step2Apply}]]",
            data: JSON.stringify(json_data),
            dataType: "json",
            contentType:"application/json",
            success: function(data){
                if(data.flag){
                    var jumpUrl = "[[@{../raise/step3}]]";
                    jumpUrl+="?raiseId="+"[[${raiseId}]]"+"&openId="+"[[${user.getOpenId()}]]";
                    window.location.href=jumpUrl;
                }else{
                    alert("fail");
                }
            }
        })

    }
</script>
</body>
</html>